.sidebar {
    height: 89vh;
    background-color: var(--background-sidebar);
    border-left: 1px gray solid;
    border-right: 1px gray solid;
    margin: 0;
    padding: 16px;
    box-sizing: border-box;
    overflow-y: auto;
    transition: width 0.3s;
}
.sidebar--open { width: 35vw; }
.sidebar--closed { width: 52px; }
.sidebar--closed > .sidebar__content { display: none; }
.sidebar__content > .content-block { margin-bottom: 16px; }
.sidebar__button { padding: 0; }
.sidebar__button:hover { background-color: var(--neutral-hover); }
ul { padding-left: 16px; }
li { margin: 4px; }
footer {
    position: absolute; 
    bottom: 0; 
}

@media (max-width: 500px) {
    .sidebar--open { width: 250vw; }
    li { font-size: 10px; }
}