.login-panel {
    margin-top: 30vh; 
    margin-inline: auto; 
    width: 300px; 
    border: 1px gray solid; 
    border-radius: 20px; 
    padding: 16px;
}
.login-panel__input {
    border: 1px gray solid;
    width: 100%;
}
.login-panel > input[type="button"] {
    width: 100%;
}