.leaflet-attribution-flag {
    display: none !important;
}
#map{
    width: 100%;
    height: 89vh;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: var(--background-sidebar);
}