.reg-screen {
    margin-top: 30vh; 
    margin-inline: auto; 
    width: 300px;
    border: 1px gray solid;
    border-radius: 20px;
    padding: 16px;
}

.reg-screen__input {
    border: 1px gray solid;
    width: 100%;
}

.reg-screen > input[type="button"] {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
